.matches-container {
  width: 80vw;
  margin: 0 auto;
}

.match-week {
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.match {
  display: flex;
  height: 2rem;
  justify-content: center;
}

.team {
  width: 11rem;
  align-self: center;
}

.team-left {
  text-align: end;
}

.vs {
  margin: auto 1rem;
}

.match-won {
  color: green;
}
.match-lost {
  color: red;
}

@media only screen and (max-width: 600px) {
  .team {
    width: 25vw;
    align-self: center;
    font-size: 0.7rem;
  }
}
