:root {
  --white: #e8e9ed;
  --gray: rgb(67, 66, 87);
  --blue: rgb(24, 23, 44);
  --green: #00d084;
  --pink: #ff4b77;
}

.generator-pokemon-generator {
  text-align: center;
}

.hide {
  display: none;
}

.not-visible {
  visibility: hidden;
}

/* --------------------------------------------------------------- 
Pokemon-Buttons*/
.generator-count-choice {
  margin: 1rem 0;
}

.pokemon-card-button {
  cursor: pointer;
  color: #e8e9ed;
  padding: 15px;
  background-color: #18172c;
  border: none;
  border-radius: 10px;
}

.pokemon-button-generate {
  margin: 1rem 0;
  font-size: 2rem;
  border-radius: 20px;
}

/* --------------------------------------------------------------- 
Pokemon-Type-Option*/
.active-type-option {
  background-color: #00d084;
}

.pokemon-card-types {
  font-size: 1rem;
}
.pokemon-card-types:first-child {
  border-radius: 20px 0 0 20px;
}
.pokemon-card-types:last-child {
  border-radius: 0 20px 20px 0;
}

/* ---------------------------------------------------------------
Pokemon-Card-Navigation */
.pokemon-card-navigation {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.pokemon-card-navigation-button {
  align-self: center;
}

.pokemon-card-navigation-header {
  margin: 0 1rem;
  align-self: center;
}

/* --------------------------------------------------------------- 
Pokemon-Type-Card*/
.generator-generated-pokemons {
  margin: 2rem 0 1rem 0;
  display: grid;
  justify-content: center;
}

/* Pokemon-All-Type-Card */
.all-type-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.all-type-type {
  padding: 0.2rem 0;
  color: white;
}

/* Pokemon-One-Type-Card */
.one-type-container,
.all-type-card {
  width: 10rem;
  height: 13rem;
  padding: 1rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
  background-color: var(--blue);
  color: var(--white);
}
/* .pokemon-generator-type-card {
} */
.pokemon-generator-sprite {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin: 0;
  padding: 0.4rem;
  background-color: white;
  border-radius: 50%;
}
.pokemon-generator-pokeName {
  margin: 0;
}
.pokemon-generator-type {
  margin: 0;
}
.pokemon-generator-type > * {
  margin: 0;
}

.one-type-label {
  margin-right: 0.5rem;
}

.pokemon-generator-one-type-type {
  text-align: center;
  color: white;
  font-size: 0.8rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: 0.00938em;
  padding: 0.1rem 0.5rem;
}

/* --------------------------------------------------------------- 
Pokemon-Card */
.pokemon-cards-loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #18172c;
  background: -moz-linear-gradient(left, #18172c 10%, rgba(24, 23, 44, 0) 42%);
  background: -webkit-linear-gradient(
    left,
    #18172c 10%,
    rgba(24, 23, 44, 0) 42%
  );
  background: -o-linear-gradient(left, #18172c 10%, rgba(24, 23, 44, 0) 42%);
  background: -ms-linear-gradient(left, #18172c 10%, rgba(24, 23, 44, 0) 42%);
  background: linear-gradient(to right, #18172c 10%, rgba(24, 23, 44, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.pokemon-cards-loader:before {
  width: 50%;
  height: 50%;
  background: #18172c;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.pokemon-cards-loader:after {
  background: whitesmoke;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* .pokemon-cards-container {
} */

.pokemon-card {
  height: 6rem;
  width: 6rem;
  display: inline-flex;
  flex-direction: column;
  margin: 0.5px;
}

.pokemon-card-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 0;
  align-self: center;
}

.pokemon-card-name {
  width: 100%;
  margin: 0;
  word-wrap: break-word;
  hyphens: auto;
  min-width: unset;
  text-align: center;
}

.pokemon-card-isQualified {
  background-color: lightblue;
  transition: all 0.3s;
}

.pokemon-card-notQualified {
  background-color: lightsalmon;
  transition: all 0.3s;
}

/* --------------------------------------------------------------- 
Pokemon-Card-Options */
[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

li {
  list-style-type: none;
}

.checkbox-text {
  margin-right: 0.5rem;
}

.switches {
  max-width: 500px;
  margin: 1rem auto;
  border-radius: 10px;
  color: var(--white);
  background: var(--blue);
}

.switches label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.switches span:last-child {
  position: relative;
  width: 50px;
  height: 26px;
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  background: var(--gray);
  transition: all 0.3s;
}

.switches span:last-child::before,
.switches span:last-child::after {
  content: "";
  position: absolute;
}

.switches span:last-child::before {
  left: 1px;
  top: 1px;
  width: 24px;
  height: 24px;
  background: var(--white);
  border-radius: 50%;
  z-index: 1;
  transition: transform 0.3s;
}

.switches span:last-child::after {
  top: 50%;
  right: 8px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/uncheck-switcher.svg);
  background-size: 12px 12px;
}

.switches [type="checkbox"]:checked + label span:last-child {
  background: var(--green);
}

.switches [type="checkbox"]:checked + label span:last-child::before {
  transform: translateX(24px);
}

.switches [type="checkbox"]:checked + label span:last-child::after {
  width: 14px;
  height: 14px;
  /*right: auto;*/
  left: 8px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/checkmark-switcher.svg);
  background-size: 14px 14px;
}

@media screen and (max-width: 600px) {
  .switches li::before {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .switches {
    display: flex;
    justify-content: space-evenly;
  }
}
