.pokemon-div {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 2rem;
}

.pokemon-type {
  text-align: center;
  min-width: 5rem;
  color: white;
}

.pokemon-img {
  margin-left: 0.5rem;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.pokemon-name {
  margin-left: 0.5rem;
  min-width: 9rem;
}

/* .pokemon-stats {
  min-width: 15rem;
} */
